.box {
    display:flex;
    justify-content:flex;
    background: color#222;
    margin:0 auto;
    flex-wrap:flex;
    height:100%;
    width:1200px;
}

.center {
    width: 5000;
    top:300;
    position:flex;
    border-radius:9;
    position: 6;
    height:100%;
    background:color#222;
}

